<!DOCTYPE html>
<html>
<!--gameplay content -->
<% content_for :gameplay do %>
	<div id='letter_slots_container'>
	<% game.secret_word.length.times do |index| %>
		<% letter = game.secret_word[index] %>
			<% if game.guess_slots[letter] %>
				<span class='letter'><%= "#{letter} " %></span>
			<% else %>
				<span class='blank'><%= blank %></span>
			<% end %>
		<% end %>
	<br><br>
	</div>
	<div id="selection_container">
		<form action='guess'>
			<select id='letter_dropdown' name="char">
				<% letter_bank.each do |letter| %>
					<% unless game.guessed_letters.include? letter %>
							<option value="<%= letter %>"><%=letter%>
							</option>
					<% end %>
				<% end %>
			</select>
			<button id='guess_button' type="submit">Guess!</button>
		</form>
	</div>
	<br>
	<div id='game_info'>
		<span>
			Incorrect guesses left: <%= game.turns_left %><br>
			Guessed Letters: <%game.guessed_letters.each do |letter| %>
					<%= letter %>
				<% end %>
		</span>
	</div>
<% end %>
<!-- end gameplay content -->

<!-- static page content -->
<head></head>
	<body>
		<div>
			<%= yield_content :gameplay %>
		</div>
	</body>
<!-- end static page content -->
</html>